* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

html {
    scroll-behavior: smooth;
}

header {
    display: flex;
    flex-direction: column;
    background: url('img/banner.jpeg') no-repeat;
    background-size: cover;
    padding: 3rem;
    height: 100vh;
    justify-content: center;
    text-align: center;
}
header p {
    margin: 2rem 0;
    font-size: 1.2rem;
}
header a {
    text-decoration: none;
    background: rgb(255, 191, 191);
    width: 150px;
    padding: 1rem;
    color: #fff;
    margin: 0 auto;
}

.portfolio-heading {
    padding: 2rem 0;
    text-align: center;
}
.portfolio-heading h1 {
    font-size: 3rem;
}
.portfolio-flex {
    text-align: center;
    display: flex;
    height: auto;
}
.portfolio-flex img {
    width: 100%;
}
.portfolio-flex .left-box, .portfolio-flex .right-box {
    width: 50%;
}
.portfolio-flex .right-box, .portfolio-flex .left-box {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 3rem;
}

footer {
    margin-top: 2rem;
    background: rgb(255, 191, 191);
    padding: 1rem;
    color: #fff;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
footer a {
    background: rgb(186, 117, 117);
    text-decoration: none;
    padding: 1rem;
    color: #fff;
}